body {
  background-color: #06305a; /* Light gray */
  margin-top: 0px;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 90px;
}

.cover-text {
  position: relative;
  align-items: center;
  justify-content: center;
  color: #f8fafcb9; /*  Light gray */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  background-color: #06305a;
}

.navbar a {
  color: #f8fafc; /* White */
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .navbar-toggler {
    background-color: #f8fafc; /* Light gray */
  }

  #navbarNav {
    background-color: #06305a; /* Dark blue */
    border-radius: 5px;
    border-top: solid #f8fafc 2px; /* Light gray */
    margin-top: 5px;
  }

  /* Create padding on dropdown menu options */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 1%;
  }

  .cover-text {
    font-size: 1.2rem; /* Adjusted for smaller screens */
    text-align: center;
  }
}

/* Carousel section */
.carousel-inner {
  height: 600px; /* Adjusted height for the carousel */
}

/* Card Section */

.card-section {
  /* display: flex; */
  height: 100vh;
}

#card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* Footer */

.footer-content {
  color: #f8fafc; /* Light gray */
  padding: 20px;
  text-align: center;
}

footer a {
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    background-color: #f8fafc; /* Light gray */
  }

  #navbarNav {
    background-color: #06305a; /* Dark blue */
    border-radius: 5px;
    border-top: solid #f8fafc 2px; /* Light gray */
    margin-top: 5px;
  }

  /* Create padding on dropdown menu options */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    background-color: #f8fafc; /* Light gray */
  }

  #navbarNav {
    background-color: #06305a; /* Dark blue */
    border-radius: 5px;
    border-top: solid #f8fafc 2px; /* Light gray */
    margin-top: 5px;
  }

  /* Create padding on dropdown menu options */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
}

@media screen and (min-width: 1200px) {
  .nav-item:hover {
    background-color: #ffffff; /* White */
    border-radius: 5px;
  }
}
